section.footer-top
    .container
        .row
            .col-sm-3.footer-top__left
                .title Комплекс Бар
                .phone
                    i.icon.icon__phone--red
                    span 8 (812) 489-45-65
                .address г. Санкт Петербург, Московский проспект, д. 12, лит А
                include ../../components/forms/form-subscribe/index.jade
                button.button.button--red Задать вопрос
                .text-content
                    .text-content__title Посуда для баров и ресторанов
                    p Компания «Комплекс-бар» вот уже 20 лет является одним из лидеров в сфере обслуживания ресторанов, баров, кафе и гостиниц. Мы поставляем  рофессиональную посуду, барный и кухонный инвентарь, предметы сервировки стола от мировых производителей, а так же известные сиропы «Monin» для  коктейлей и десертов.
            .col-sm-9.footer-top__right
                .row
                    include ../../components/menu/footer-menu/index.jade