.portfolio-slider {
    &-container {

    }
    &__title {
        font-size: 2.2rem;
        font-family: PFDin-med;
        color: rgb(255, 255, 255);
    }
    &-item {
        img {

        }
        &__desc {
            .text {

            }
            .count {

            }
        }
    }
}