.portfolio-slider {
    &-container {
        position: relative;
    }
    &__title {
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2.2rem;
        font-family: PFDin-med;
        color: rgb(255, 255, 255);
    }
    &-item {
        img {

        }
        &__desc {
            .text {

            }
            .count {

            }
        }
    }
}