include templates/head.jade
body
	.page-wrapper
		include sections/header/index.jade		
		include sections/main-slider/index.jade
		include sections/main-products/index.jade
		include sections/main-articles/index.jade
		include sections/main-clients/index.jade
		include sections/main-marks/index.jade
		include sections/main-desc/index.jade
		include sections/main-advantages/index.jade
		include sections/footer/index.jade