.main-advantages {
    padding-top: 80px;
    padding-bottom: 70px;
    .advantages-item {
        text-align: center;
        &__image {
            height: 60px;
            .icon {

            }
        }
        &__title {
            margin-bottom: 15px;
            span {
                font-size: 3.6rem;
                line-height: 1;
                letter-spacing: -1px;
            }
        }
        &__text {
            span {

            }
        }
    }   
}