- var items = [{name: 'Название раздела', sub: ['Стеклянная посуда и емкости', 'Столовая посуда', 'Столовые приборы', 'Предметы сервировки']},{name: 'Сиропы и продукты', sub: ['Сиропы', 'Топпинги', 'Добавки', 'Соусы']},{name: 'Вспомогательный инвентарь', sub: ['Подносы', 'Контейнеры', 'Мелкий инвентарь', 'Стеллажи, стойки, тележки']},{name: 'Кухонный и кондитерский инвентарь', sub: ['Наплитная посуда', 'Кухонный инвентарь', 'Ножи', 'Кондитерский инвентарь']},{name: 'Электронное Оборудование', sub: ['Оборудование для механической переработки', 'Тепловое оборудование', 'Холодильное оборудование', 'Измерительное оборудование', 'Упаковочное оборудование', 'Запасные части и комплектующие']},{name: 'Униформа и предметы интерьера', sub: ['Униформа', 'Текстиль', 'Предметы интерьера']},{name: 'Барный инвентарь', sub: ['Инвентарь', 'Украшения', 'Прочее']},{name: 'Хозяйственные товары ', sub: ['Средства уборки']},]

for item in items
    span= item























