.footer-menu {
    list-style-type: none;
    &-group {

    }
    &__title {
        font-size: 1.4rem;
        font-family: PFDin-med;
        & + .footer-menu {
            margin-top: 10px;
        }
    }
    &__item {

    }
    &__item + &__item {
        margin-top: 5px;
    }
    &__link {
        color: rgb(119, 119, 119);
        line-height: 1.2em;
        font-size: 1.4rem;
    }
}