.search-result-modal {
    position: absolute;
    top: 100%;
    left: 0;
    &__group {
        .title {

        }
        .results {
            p {

            }
            b {

            }
            &__product {
                .image {
                    img {

                    }
                }
                .name {
                    span {

                    }
                }
            }
        }
    }
    &__footer {
        a {

        }
    }
}