.auth-block {
    overflow: hidden;
    &__enter, &__reg {
        display: table-cell;
        vertical-align: middle;
    }
    &__enter {
        float: left;
        .icon {

        }
        button {

        }
    }
    &__reg {
        button {

        }
    }
}