section.footer-bottom
    .container
        .footer-bottom__col
            .copyright © 2007 — 2017 Комплекс Бар        
        .footer-bottom__col
            - var items = ['О компании', 'Доставка', 'Наши услуги', 'Контакты', 'Курс у.е.'];
            include ../../components/menu/inline-menu/index.jade
        .footer-bottom__col
            include ../../components/social/index.jade