section.footer-bottom
    .container
        .copyright © 2007 — 2017 Комплекс Бар
        - var items = ['О компании', 'Доставка', 'Наши услуги', 'Контакты', 'Курс у.е.'];
        include ../../components/menu/inline-menu/index.jade
        include ../../components/social/index.jade