section.footer-top
    .container
        .row
            .col-sm-3.footer-top__left
                .title Комплекс Бар
                .phone
                    i.icon.icon__phone--red
                    span 8 (812) 489-45-65
                span.address г. Санкт Петербург, Московский проспект, д. 12, лит А
                include ../../components/forms/form-subscribe/index.jade
            .col-sm-9.footer-top__right