.onoffswitch
    input(type="checkbox" name="onoffswitch" id="myonoffswitch").onoffswitch-checkbox
    label.onoffswitch-label(for="myonoffswitch")
        span.onoffswitch-inner
        span.onoffswitch-switch