.onoffswitch
    input(type="text" name="onoffswitch" id="myonoffswitch").onoffswitch-checkbox
    label.onoffswitch-label(for="myonoffswitch")
        span.onoffswitch-inner
        span.onoffswitch-switch