.city-choise
    .city-choise__icon
        i.icon.icon__geo--black
    .city-choise__title
        span Ваш город:
    button.city-choise__current
        span Санкт-Петербург
        i.icon.icon__arrow--down--black