.city-choise {
    display: table;
    &__icon, &__title, &__current {
        display: table-cell;
        vertical-align: middle;
    }
    &__icon {
        padding-right: 12px;
        .icon {
            margin-top: 2px;
        }
    }
    &__title {
        padding-right: 5px;
        span {
            color: rgb(119, 119, 119);
            font-size: 1.5rem;
        }
    }  
    &__current {
        span {

        }
        .icon {
            margin-left: 13px;
            vertical-align: middle;
        }
    }  
}