.city-choise {
    display: table;
    &__icon, &__title, &__current {
        display: table-cell;
        vertical-align: middle;
    }
    &__icon {
        i {

        }
    }
    &__title {
        span {
            color: rgb(119, 119, 119);
            font-size: 1.5rem;
        }
    }  
    &__current {
        span {

        }
        i {

        }
    }  
}