.user-shop-panel
    .user-shop-panel__item
        .image
            i.icon.icon__heart--black
            .count
                span 4
    .user-shop-panel__item
        .image
            i.icon.icon__graf--black
            .count
                span 2
    .user-shop-panel__item.user-shop-panel__item--red
        .image
            i.icon.icon__basket--white
            .count
                span 12
        span 125 600 руб.