.main-clients {
    &__title {

    }
}
.clients-slider {
    &__item {
        height: 140px;
        line-height: 140px;
        border: 1px rgb(225, 225, 225) solid;
        text-align: center;
        img {

        }
    }
}