@font-face {
 font-family: 'PFDin-med';
 font-style: normal;
 font-weight: normal;
 src: local('PFDin-med'), url('../fonts/pfdintextpro-medium.woff') format('woff');
}
@font-face {
 font-family: 'PFDin-reg';
 font-style: normal;
 font-weight: normal;
 src: local('PFDin-reg'), url('../fonts/pfdintextpro-regular.woff') format('woff');
}
