// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-advantages-1-name: 'icon__advantages-1';
$icon-advantages-1-x: 149px;
$icon-advantages-1-y: 376px;
$icon-advantages-1-offset-x: -149px;
$icon-advantages-1-offset-y: -376px;
$icon-advantages-1-width: 41px;
$icon-advantages-1-height: 42px;
$icon-advantages-1-total-width: 518px;
$icon-advantages-1-total-height: 543px;
$icon-advantages-1-image: '../img/sprite.png';
$icon-advantages-1: (149px, 376px, -149px, -376px, 41px, 42px, 518px, 543px, '../img/sprite.png', 'icon__advantages-1', );
$icon-advantages-2-name: 'icon__advantages-2';
$icon-advantages-2-x: 0px;
$icon-advantages-2-y: 500px;
$icon-advantages-2-offset-x: 0px;
$icon-advantages-2-offset-y: -500px;
$icon-advantages-2-width: 52px;
$icon-advantages-2-height: 43px;
$icon-advantages-2-total-width: 518px;
$icon-advantages-2-total-height: 543px;
$icon-advantages-2-image: '../img/sprite.png';
$icon-advantages-2: (0px, 500px, 0px, -500px, 52px, 43px, 518px, 543px, '../img/sprite.png', 'icon__advantages-2', );
$icon-advantages-3-name: 'icon__advantages-3';
$icon-advantages-3-x: 190px;
$icon-advantages-3-y: 336px;
$icon-advantages-3-offset-x: -190px;
$icon-advantages-3-offset-y: -336px;
$icon-advantages-3-width: 40px;
$icon-advantages-3-height: 40px;
$icon-advantages-3-total-width: 518px;
$icon-advantages-3-total-height: 543px;
$icon-advantages-3-image: '../img/sprite.png';
$icon-advantages-3: (190px, 336px, -190px, -336px, 40px, 40px, 518px, 543px, '../img/sprite.png', 'icon__advantages-3', );
$icon-advantages-4-name: 'icon__advantages-4';
$icon-advantages-4-x: 230px;
$icon-advantages-4-y: 295px;
$icon-advantages-4-offset-x: -230px;
$icon-advantages-4-offset-y: -295px;
$icon-advantages-4-width: 23px;
$icon-advantages-4-height: 41px;
$icon-advantages-4-total-width: 518px;
$icon-advantages-4-total-height: 543px;
$icon-advantages-4-image: '../img/sprite.png';
$icon-advantages-4: (230px, 295px, -230px, -295px, 23px, 41px, 518px, 543px, '../img/sprite.png', 'icon__advantages-4', );
$icon-advantages-5-name: 'icon__advantages-5';
$icon-advantages-5-x: 52px;
$icon-advantages-5-y: 456px;
$icon-advantages-5-offset-x: -52px;
$icon-advantages-5-offset-y: -456px;
$icon-advantages-5-width: 50px;
$icon-advantages-5-height: 44px;
$icon-advantages-5-total-width: 518px;
$icon-advantages-5-total-height: 543px;
$icon-advantages-5-image: '../img/sprite.png';
$icon-advantages-5: (52px, 456px, -52px, -456px, 50px, 44px, 518px, 543px, '../img/sprite.png', 'icon__advantages-5', );
$icon-advantages-6-name: 'icon__advantages-6';
$icon-advantages-6-x: 102px;
$icon-advantages-6-y: 418px;
$icon-advantages-6-offset-x: -102px;
$icon-advantages-6-offset-y: -418px;
$icon-advantages-6-width: 47px;
$icon-advantages-6-height: 38px;
$icon-advantages-6-total-width: 518px;
$icon-advantages-6-total-height: 543px;
$icon-advantages-6-image: '../img/sprite.png';
$icon-advantages-6: (102px, 418px, -102px, -418px, 47px, 38px, 518px, 543px, '../img/sprite.png', 'icon__advantages-6', );
$icon-arrow-circle-right-name: 'icon__arrow--circle--right';
$icon-arrow-circle-right-x: 296px;
$icon-arrow-circle-right-y: 219px;
$icon-arrow-circle-right-offset-x: -296px;
$icon-arrow-circle-right-offset-y: -219px;
$icon-arrow-circle-right-width: 20px;
$icon-arrow-circle-right-height: 20px;
$icon-arrow-circle-right-total-width: 518px;
$icon-arrow-circle-right-total-height: 543px;
$icon-arrow-circle-right-image: '../img/sprite.png';
$icon-arrow-circle-right: (296px, 219px, -296px, -219px, 20px, 20px, 518px, 543px, '../img/sprite.png', 'icon__arrow--circle--right', );
$icon-arrow-down-black-name: 'icon__arrow--down--black';
$icon-arrow-down-black-x: 510px;
$icon-arrow-down-black-y: 0px;
$icon-arrow-down-black-offset-x: -510px;
$icon-arrow-down-black-offset-y: 0px;
$icon-arrow-down-black-width: 8px;
$icon-arrow-down-black-height: 6px;
$icon-arrow-down-black-total-width: 518px;
$icon-arrow-down-black-total-height: 543px;
$icon-arrow-down-black-image: '../img/sprite.png';
$icon-arrow-down-black: (510px, 0px, -510px, 0px, 8px, 6px, 518px, 543px, '../img/sprite.png', 'icon__arrow--down--black', );
$icon-arrow-grey-left-name: 'icon__arrow--grey--left';
$icon-arrow-grey-left-x: 401px;
$icon-arrow-grey-left-y: 116px;
$icon-arrow-grey-left-offset-x: -401px;
$icon-arrow-grey-left-offset-y: -116px;
$icon-arrow-grey-left-width: 11px;
$icon-arrow-grey-left-height: 18px;
$icon-arrow-grey-left-total-width: 518px;
$icon-arrow-grey-left-total-height: 543px;
$icon-arrow-grey-left-image: '../img/sprite.png';
$icon-arrow-grey-left: (401px, 116px, -401px, -116px, 11px, 18px, 518px, 543px, '../img/sprite.png', 'icon__arrow--grey--left', );
$icon-arrow-red-long-name: 'icon__arrow--red--long';
$icon-arrow-red-long-x: 499px;
$icon-arrow-red-long-y: 6px;
$icon-arrow-red-long-offset-x: -499px;
$icon-arrow-red-long-offset-y: -6px;
$icon-arrow-red-long-width: 11px;
$icon-arrow-red-long-height: 9px;
$icon-arrow-red-long-total-width: 518px;
$icon-arrow-red-long-total-height: 543px;
$icon-arrow-red-long-image: '../img/sprite.png';
$icon-arrow-red-long: (499px, 6px, -499px, -6px, 11px, 9px, 518px, 543px, '../img/sprite.png', 'icon__arrow--red--long', );
$icon-arrow-red-right-name: 'icon__arrow--red--right';
$icon-arrow-red-right-x: 412px;
$icon-arrow-red-right-y: 98px;
$icon-arrow-red-right-offset-x: -412px;
$icon-arrow-red-right-offset-y: -98px;
$icon-arrow-red-right-width: 11px;
$icon-arrow-red-right-height: 18px;
$icon-arrow-red-right-total-width: 518px;
$icon-arrow-red-right-total-height: 543px;
$icon-arrow-red-right-image: '../img/sprite.png';
$icon-arrow-red-right: (412px, 98px, -412px, -98px, 11px, 18px, 518px, 543px, '../img/sprite.png', 'icon__arrow--red--right', );
$icon-arrow-white-left-name: 'icon__arrow--white--left';
$icon-arrow-white-left-x: 253px;
$icon-arrow-white-left-y: 260px;
$icon-arrow-white-left-offset-x: -253px;
$icon-arrow-white-left-offset-y: -260px;
$icon-arrow-white-left-width: 22px;
$icon-arrow-white-left-height: 35px;
$icon-arrow-white-left-total-width: 518px;
$icon-arrow-white-left-total-height: 543px;
$icon-arrow-white-left-image: '../img/sprite.png';
$icon-arrow-white-left: (253px, 260px, -253px, -260px, 22px, 35px, 518px, 543px, '../img/sprite.png', 'icon__arrow--white--left', );
$icon-basket-white-large-name: 'icon__basket--white--large';
$icon-basket-white-large-x: 316px;
$icon-basket-white-large-y: 200px;
$icon-basket-white-large-offset-x: -316px;
$icon-basket-white-large-offset-y: -200px;
$icon-basket-white-large-width: 19px;
$icon-basket-white-large-height: 19px;
$icon-basket-white-large-total-width: 518px;
$icon-basket-white-large-total-height: 543px;
$icon-basket-white-large-image: '../img/sprite.png';
$icon-basket-white-large: (316px, 200px, -316px, -200px, 19px, 19px, 518px, 543px, '../img/sprite.png', 'icon__basket--white--large', );
$icon-basket-white-name: 'icon__basket--white';
$icon-basket-white-x: 386px;
$icon-basket-white-y: 134px;
$icon-basket-white-offset-x: -386px;
$icon-basket-white-offset-y: -134px;
$icon-basket-white-width: 15px;
$icon-basket-white-height: 15px;
$icon-basket-white-total-width: 518px;
$icon-basket-white-total-height: 543px;
$icon-basket-white-image: '../img/sprite.png';
$icon-basket-white: (386px, 134px, -386px, -134px, 15px, 15px, 518px, 543px, '../img/sprite.png', 'icon__basket--white', );
$icon-fb-name: 'icon__fb';
$icon-fb-x: 492px;
$icon-fb-y: 15px;
$icon-fb-offset-x: -492px;
$icon-fb-offset-y: -15px;
$icon-fb-width: 7px;
$icon-fb-height: 13px;
$icon-fb-total-width: 518px;
$icon-fb-total-height: 543px;
$icon-fb-image: '../img/sprite.png';
$icon-fb: (492px, 15px, -492px, -15px, 7px, 13px, 518px, 543px, '../img/sprite.png', 'icon__fb', );
$icon-geo-black-name: 'icon__geo--black';
$icon-geo-black-x: 462px;
$icon-geo-black-y: 51px;
$icon-geo-black-offset-x: -462px;
$icon-geo-black-offset-y: -51px;
$icon-geo-black-width: 10px;
$icon-geo-black-height: 13px;
$icon-geo-black-total-width: 518px;
$icon-geo-black-total-height: 543px;
$icon-geo-black-image: '../img/sprite.png';
$icon-geo-black: (462px, 51px, -462px, -51px, 10px, 13px, 518px, 543px, '../img/sprite.png', 'icon__geo--black', );
$icon-graf-black-name: 'icon__graf--black';
$icon-graf-black-x: 451px;
$icon-graf-black-y: 64px;
$icon-graf-black-offset-x: -451px;
$icon-graf-black-offset-y: -64px;
$icon-graf-black-width: 11px;
$icon-graf-black-height: 13px;
$icon-graf-black-total-width: 518px;
$icon-graf-black-total-height: 543px;
$icon-graf-black-image: '../img/sprite.png';
$icon-graf-black: (451px, 64px, -451px, -64px, 11px, 13px, 518px, 543px, '../img/sprite.png', 'icon__graf--black', );
$icon-heart-black-name: 'icon__heart--black';
$icon-heart-black-x: 423px;
$icon-heart-black-y: 86px;
$icon-heart-black-offset-x: -423px;
$icon-heart-black-offset-y: -86px;
$icon-heart-black-width: 13px;
$icon-heart-black-height: 12px;
$icon-heart-black-total-width: 518px;
$icon-heart-black-total-height: 543px;
$icon-heart-black-image: '../img/sprite.png';
$icon-heart-black: (423px, 86px, -423px, -86px, 13px, 12px, 518px, 543px, '../img/sprite.png', 'icon__heart--black', );
$icon-mailru-name: 'icon__mailru';
$icon-mailru-x: 370px;
$icon-mailru-y: 149px;
$icon-mailru-offset-x: -370px;
$icon-mailru-offset-y: -149px;
$icon-mailru-width: 16px;
$icon-mailru-height: 16px;
$icon-mailru-total-width: 518px;
$icon-mailru-total-height: 543px;
$icon-mailru-image: '../img/sprite.png';
$icon-mailru: (370px, 149px, -370px, -149px, 16px, 16px, 518px, 543px, '../img/sprite.png', 'icon__mailru', );
$icon-ok-name: 'icon__ok';
$icon-ok-x: 472px;
$icon-ok-y: 37px;
$icon-ok-offset-x: -472px;
$icon-ok-offset-y: -37px;
$icon-ok-width: 8px;
$icon-ok-height: 14px;
$icon-ok-total-width: 518px;
$icon-ok-total-height: 543px;
$icon-ok-image: '../img/sprite.png';
$icon-ok: (472px, 37px, -472px, -37px, 8px, 14px, 518px, 543px, '../img/sprite.png', 'icon__ok', );
$icon-phone-red-name: 'icon__phone--red';
$icon-phone-red-x: 353px;
$icon-phone-red-y: 165px;
$icon-phone-red-offset-x: -353px;
$icon-phone-red-offset-y: -165px;
$icon-phone-red-width: 17px;
$icon-phone-red-height: 17px;
$icon-phone-red-total-width: 518px;
$icon-phone-red-total-height: 543px;
$icon-phone-red-image: '../img/sprite.png';
$icon-phone-red: (353px, 165px, -353px, -165px, 17px, 17px, 518px, 543px, '../img/sprite.png', 'icon__phone--red', );
$icon-search-name: 'icon__search';
$icon-search-x: 275px;
$icon-search-y: 239px;
$icon-search-offset-x: -275px;
$icon-search-offset-y: -239px;
$icon-search-width: 21px;
$icon-search-height: 21px;
$icon-search-total-width: 518px;
$icon-search-total-height: 543px;
$icon-search-image: '../img/sprite.png';
$icon-search: (275px, 239px, -275px, -239px, 21px, 21px, 518px, 543px, '../img/sprite.png', 'icon__search', );
$icon-twitter-name: 'icon__twitter';
$icon-twitter-x: 480px;
$icon-twitter-y: 28px;
$icon-twitter-offset-x: -480px;
$icon-twitter-offset-y: -28px;
$icon-twitter-width: 12px;
$icon-twitter-height: 9px;
$icon-twitter-total-width: 518px;
$icon-twitter-total-height: 543px;
$icon-twitter-image: '../img/sprite.png';
$icon-twitter: (480px, 28px, -480px, -28px, 12px, 9px, 518px, 543px, '../img/sprite.png', 'icon__twitter', );
$icon-user-grey-name: 'icon__user--grey';
$icon-user-grey-x: 335px;
$icon-user-grey-y: 182px;
$icon-user-grey-offset-x: -335px;
$icon-user-grey-offset-y: -182px;
$icon-user-grey-width: 18px;
$icon-user-grey-height: 18px;
$icon-user-grey-total-width: 518px;
$icon-user-grey-total-height: 543px;
$icon-user-grey-image: '../img/sprite.png';
$icon-user-grey: (335px, 182px, -335px, -182px, 18px, 18px, 518px, 543px, '../img/sprite.png', 'icon__user--grey', );
$icon-vk-name: 'icon__vk';
$icon-vk-x: 436px;
$icon-vk-y: 77px;
$icon-vk-offset-x: -436px;
$icon-vk-offset-y: -77px;
$icon-vk-width: 15px;
$icon-vk-height: 9px;
$icon-vk-total-width: 518px;
$icon-vk-total-height: 543px;
$icon-vk-image: '../img/sprite.png';
$icon-vk: (436px, 77px, -436px, -77px, 15px, 9px, 518px, 543px, '../img/sprite.png', 'icon__vk', );
$spritesheet-width: 518px;
$spritesheet-height: 543px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-advantages-1, $icon-advantages-2, $icon-advantages-3, $icon-advantages-4, $icon-advantages-5, $icon-advantages-6, $icon-arrow-circle-right, $icon-arrow-down-black, $icon-arrow-grey-left, $icon-arrow-red-long, $icon-arrow-red-right, $icon-arrow-white-left, $icon-basket-white-large, $icon-basket-white, $icon-fb, $icon-geo-black, $icon-graf-black, $icon-heart-black, $icon-mailru, $icon-ok, $icon-phone-red, $icon-search, $icon-twitter, $icon-user-grey, $icon-vk, );
$spritesheet: (518px, 543px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
