header.header
    .header-top
        .container
            .header-top__col
                include ../../components/city-choise/index.jade
            .header-top__col
                include ../../components/menu/header-menu/index.jade
            .header-top__col
    .header__content
        .logo
            +image('logo.png')