- var items = ['Акции', 'Посуда и предметы сервировки', 'Кухонный и кондитерский инвентарь', 'Барный инвентарь', 'Сиропы и продукты', 'Электронное  Оборудование', 'Униформа и предметы интерьера', 'Вспомогательный инвентарь', 'Хозяйственные товары'];

ul.top-menu
  for item in items
    li.top-menu__item
        a.top-menu__link(href="#")= item