section.main-slider-container
    .container
        .main-slider.owl-carousel.js-main-slider
            - var count = 4
            - for (var i = 0; i < count; i++)
                .main-slider-item
                    +image('main-slider__1.jpg')
                    .main-slider-item__content
                        .title FUGA
                        .title__second Деревянные доски ручной работы
                        .desc
                            .desc__image
                                +image('logo.png')
                            .desc__text
                                p Комплекс-Бар — эксклюзивный представитель компании FUGA в сегменте HoReCa
                                p Возможность производства на заказ с логотипом клиента