.main-slider {
    position: relative;
    &-container {
        background-color: rgb(36, 31, 28);
    }
    &-item {
        color: rgb(255, 255, 255);
        img {

        }
        &__content {
            position: absolute;
            left: 110px;
            top: 0;
            bottom: 0;
            margin: auto;
            .title {
                &__second {

                }
            } 
            .desc {
                &__image {
                    img {
                        width: 55px;
                    }
                }
                &__text {
                    p {
                        & + p {

                        }
                    }
                }
            }
        }
    }    
}