body {
    color: rgb(0, 0, 0);
    font-family: PFDin-reg;
}

.page-wrapper {
    overflow: hidden;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }   
}

.tabs {
    list-style-type: none;
    &__item {
        display: inline-block;
        button {
            padding-bottom: 7px;
            border-bottom: 2px transparent solid;
            font-size: 2.2rem;
            line-height: 1.2em;
        }
        &.active {
            button {
                color: rgb(195, 0, 47);
                border-color: rgb(195, 0, 47);
            }
        }
    }
    &__item + &__item {
        margin-left: 45px;
    }
}

.owl {
    &-carousel[data-overflow="visible"] {
        .owl-item {
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s ease-in-out;
            transform: scale(0, 0);
            img {
                display: inline-block;
            }
            &.active {
                pointer-events: all;
                opacity: 1;
                transform: scale(1);
            }
        }
        .owl-stage-outer {
            overflow: visible;
        }
    }
    &-dots {
        position: absolute;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 15px 8px 15px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 15px;
        .owl-dot {
            float: left;
            & + .owl-dot {
                margin-left: 8px;
            }
            span {   
                display: block;             
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
            }
            &.active {
                span {
                    margin-top: -2px;
                    width: 10px;
                    height: 10px;
                    background-color: rgb(190, 31, 36);
                }
            }
        }
    }
    &-carousel[data-arrows*="outside"] {
        .owl-prev {
            left: -90px;  
        }
        .owl-next {
            right: -90px;
        }    
    }
    &-carousel[data-arrows*="grey"] {
        .owl-prev, .owl-next {
            background-color: rgb(255, 255, 255);
            border: 1px rgb(225, 225, 225) solid;
            &::before {
                width: $icon-arrow-grey-left-width;
                height: $icon-arrow-grey-left-height;
                background-image: url($icon-arrow-grey-left-image);
                background-position: $icon-arrow-grey-left-offset-x $icon-arrow-grey-left-offset-y;
            }
            &:hover {
                &::before {
                    background-position: $icon-arrow-red-right-offset-x $icon-arrow-red-right-offset-y;
                }
            }        
        }   
        .owl-prev {
            &:hover {
                &::before {
                transform: rotate(180deg); 
                }
            }
            
        }
        .owl-next {
            &::before {
                transform: rotate(180deg) translateX(-2px);
            }
            &:hover {
                &::before {
                    transform: rotate(0) translateX(2px);
                }
            }
        }
    }
    &-carousel[data-arrows*="white"] {
        .owl-prev, .owl-next {
            &::before {
                opacity: 0.8;
                width: $icon-arrow-white-left-width;
                height: $icon-arrow-white-left-height;
                background-image: url($icon-arrow-white-left-image);
                background-position: $icon-arrow-white-left-offset-x $icon-arrow-white-left-offset-y;
                transition: all 0.1s ease-in-out;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }        
        }          
        .owl-next {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
    &-carousel {
        .owl-prev, .owl-next {
            position: absolute;
            top: calc(50% - 20px);
            width: 40px;
            height: 40px;
            text-indent: -9999px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-repeat: no-repeat;
            }              
        }   
        .owl-prev {
            left: 0;      
        }
        .owl-next {
            right: 0;            
        }
    }
}

.owl-carousel .owl-wrapper-outer{
   overflow: hidden;
   position: relative;
   width: 100%;
   z-index: 1;
}
.owl-item { 
  transform: translateZ(0);
 -webkit-transform: translateZ(0); 
 -ms-transform: translateZ(0); 
}