section.main-desc
    .container
        .row
            .col-sm-6
                .main-desc__title Посуда для баров и ресторанов
                p
                    strong Интернет-магазин Posuda.ru – это качественные и красивые товары для Вашего дома, кухни и быта!
                p Мы являемся первым и крупнейшим дистрибьютором стеклянной посуды торговой марки PASABAHCE (Турция). Также в широком ассортименте представлена стеклянная посуда торговой марки Luminarc (Франция).
                p Создайте с нашей помощью уютный, комфортный и счастливый дом. Наполните его необходимыми бытовыми и хозяйственными мелочами, расставьте новые акценты в интерьере, выберите удобную, качественную и красивую посуду, кухонные принадлежности, о которых Вы давно мечтали.
                p У нас Вы найдете все необходимое для повседневной и праздничной сервировки стола, а также для создания теплого, чистого и уютного дома, в который всегда приятно возвращаться!
            .col-sm-6
                .logo
                    +image('logo--grey.png')
                p
                    strong Почему Posuda.ru?
                ul
                    li - Более 60.000 наименований товаров
                    li - Фирменный магазин «Кладовая посуды» в Москве
                    li - Цены от производителей
                    li - Доставка по всей России
                    li - Различные способы оплаты, включая электронные деньги
                    li - Регулярные тематические акции, распродажи и специальные предложения.
                p С 9 марта 2016 года совершайте покупки в Posuda.ru с помощью карты Сбербанка и получайте 5% СПАСИБО от суммы чека.
                p Мы ждем Вас в интернет-магазине Posuda.ru, а также в магазине «Кладовая посуды».
                p Желаем Вам приятных и выгодных покупок!