.main-desc {
    padding-top: 70px;
    padding-bottom: 75px;
    background-color: rgb(248, 248, 248);
    
    &__title {
        margin-bottom: 35px;
        font-size: 2.8rem;
        font-family: PFDin-med;
    }
    p {
        font-size: 1.5rem;
        line-height: 1.5em;
        strong {
            font-size: 1.7rem;
            font-weight: 600;
        }
        & + p {
            margin-top: 25px;
        }
    }
    ul {
        li {
            & + li {

            }
        }
    }
    .logo {
        float: right;
        img {

        }
        & + p, & + ul {
            margin-top: 60px;
        }
    }
}