.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    &-container {
        background-color: rgb(187, 31, 35);
    }
    &__item {
        &:first-child {
            .top-menu__link {
                &::before {
                    display: none;
                }
            }            
        }
    }
    &__link {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        height: 66px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 1.2rem;
        font-family: PFDin-reg;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        &:hover {
            z-index: 20;
            background-color: rgb(156, 24, 28);
            color: rgb(255, 255, 255);
            text-decoration: none;
            &::before {
                display: none;
            }
        }
        &::before {
            z-index: 10;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -2px;
            margin: auto;
            width: 1px;
            height: 30px;
            background-color: rgb(201, 79, 83);
        }        
    }
}