.search-result-modal
    .search-result-modal__content
        .search-result-modal__group
            .title Категория
            .results
                p
                    b Барный&nbsp;
                    | инвентарь
        .search-result-modal__group
            .title Бренд
            .results
                p
                    b Барный&nbsp;
                    | бренд
                p
                    | Еще один&nbsp;
                    b барный
        .search-result-modal__group
            .title Категория + бренд
            .results
                p
                    b Барный
        .search-result-modal__group
            .title Товары
            .results
                .results__product
                    .image
                        img(src="img/product-small__1.png", alt="")
                    .name
                        span Название товара
                .results__product
                    .image
                        img(src="img/product-small__2.png", alt="")
                    .name
                        span Еще одно название товара
                .results__product
                    .image
                        img(src="img/product-small__3.png", alt="")
                    .name
                        span Название товара
    .search-result-modal__footer
        a(href="#")
            span Все результаты (28)
            i.icon.icon__arrow--red--long